<a href="{{ site.baseurl }}/about.html">о нас</a>
{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}">написать</a>{% endif %}
{% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml">rss</a>{% endif %}
{% if site.footer-links.vk %}<a href="https://vk.com/{{ site.footer-links.vk }}">vk</a>{% endif %}
{% if site.footer-links.facebook %}<a href="https://www.facebook.com/{{ site.footer-links.facebook }}">facebook</a>{% endif %}
{% if site.footer-links.instagram %}<a href="https://instagram.com/{{ site.footer-links.instagram }}">instagram</a>{% endif %}
{% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}">twitter</a>{% endif %}
{% if site.footer-links.youtube %}<a href="https://youtube.com/{{ site.footer-links.youtube }}">youtube</a>{% endif %}
{% if site.footer-links.telegram %}<a href="https://t.me/@{{ site.footer-links.telegram }}">telegram</a>{% endif %}