<div id="gsInformerID-MdKF831PE0lQu1" class="gsInformer">
  <div class="gsIContent">
      <div id="cityLink">
          <a href="https://www.gismeteo.by/weather-bobruysk-4064/" target="_blank" title="Погода в Бобруйске">
              <img src="https://nst1.gismeteo.by/assets/flat-ui/img/gisloader.svg" width="24" height="24" alt="Погода в Бобруйске">
          </a>
          </div>
      <div class="gsLinks">
          <table>
              <tr>
                  <td>
                      <div class="leftCol">
                          <a href="https://www.gismeteo.by/" target="_blank" title="Погода">
                              <img alt="Погода" src="https://nst1.gismeteo.by/assets/flat-ui/img/logo-mini2.png" align="middle" border="0" width="11" height="16" />
                              <img src="https://nst1.gismeteo.by/assets/flat-ui/img/informer/gismeteo.svg" border="0" align="middle" style="left: 5px; top:1px">
                          </a>
                          </div>
                          <div class="rightCol">
                              <a href="https://www.gismeteo.by/weather-bobruysk-4064/2-weeks/" target="_blank" title="Погода в Бобруйске на 2 недели">
                                  <img src="https://nst1.gismeteo.by/assets/flat-ui/img/informer/forecast-2weeks.ru.svg" border="0" align="middle" style="top:auto" alt="Погода в Бобруйске на 2 недели">
                              </a>
                          </div>
                      </td>
              </tr>
          </table>
      </div>
  </div>
</div>
