.pagination {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  border-top: 1px solid var(--dark-bg);
  padding: 1rem;

  a, em {
    display: inline-block;
    padding: 0.25rem;
  }

  em {
    color: var(--dimmed-color);
    font-style: normal;
  }
}
