
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

:root {
  --page-bg: rgba(19, 19, 19);
  --dark-bg: #000;
  --font-color: #fff;
  --dimmed-color: #999;
  --header-color: #fff;
  --link-color: #6ba4dd;
  --link-color-active: #538ac2;
  --font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --date-font-family: "Roboto Mono";
  --logo-font-family: LOGO;
  --meta-font-family: "Roboto Condensed";
  --border-radius: 4px;

  @media (prefers-color-scheme: light) {
    --page-bg: rgb(221, 221, 221);
    --dark-bg: rgb(255, 255, 255);
    --font-color: rgb(45, 45, 45);
    --dimmed-color: #666;
    --link-color: #538bc4;
    --header-color: #000;
  }
}

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
@mixin md {
  @media screen and (min-width: 768px) {
    @content;
  }
}