---
layout: default
---

{% assign author_name = page.author %}

<div class="author">
  <div class="author-meta">
    <div class="author-meta-content">
      <h2>{{ site.data.author[author_name].name }}</h2>
    </div>
    <div class="author-meta-image">
      <img src="{{ site.data.author[author_name].image }}" alt="{{ site.data.author[author_name].name }}" />
    </div>
  </div>
  
  {% assign posts = "" | split: ',' %}

  {% for post in site.posts %}
    {% if post.category == author_name %}
      {% assign posts = posts | push: post %}
    {% endif %}
  {% endfor %}

  {% assign postsByDay = 
    posts | group_by_exp:"post", "post.updated | date: '%Y'" %}
    
  {% if postsByDay and postsByDay.size != 0 %}

  {% for day in postsByDay %}
    <h3 class="sortednews-year">{{ day.name }}</h3>
      <ul class="sortednews-list">
        {% for post in day.items %}
          <li>
            <span class="date">
              {{ post.updated | date: '%H:%M,' }}
              {{ post.updated | date: '%d' }}
              {% assign month = post.updated | date: '%m' %}
              {{ site.data.month[month].short }}
            </span>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
  {% endfor %}

  {% else %}
    <h3>Ничего не найдено</h3>
  {% endif %}
  </ul>
</div>
<hr>