<!DOCTYPE html>
<html>
  <head>
    <title>
      {% if page.title %}
        {% if site.data.tags[page.title] %}
          {{ site.data.tags[page.title] }}
        {% elsif site.data.author[page.title] %}
          {{ site.data.author[page.title].name }}
        {% else %}
          {{ page.title }} – 
        {% endif %}
        -
      {% endif %}
      {{ site.title }} – {{ site.description }}
    </title>

    {% include meta.html %}
    <link rel="stylesheet" async type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" async type="application/rss+xml" title="{{ site.title }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    {% seo %}
  </head>

  {% assign current = page.url %}

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead">
          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            {% for navItem in site.navigation %}
            <a href="{{ site.baseurl }}{{ navItem.link }}" id="nav{{ navItem.link | split: '/' | join: '-' }}" {% if current == navItem.link %} class='active'{% endif %}>{{ navItem.name }}</a>
            {% endfor %}
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <footer class="footer">
        <div class="container">
          <div class="row footer-meta">
            <div>
              2022 &copy; <a href="/">3r.by</a>
            </div>
            <div class="col footer-links">
              {% include footer-links.html %}
            </div>
          </div>
          
        </div>
      </footer>
    </div>

    {% include analytics.html %}
  </body>
</html>
