---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  <small class="date">
    {{ page.updated | date_to_string }}
  </small>

  <div class="entry">
    {{ content }}
  </div>

  <div>
    Теги:
    [
      {% for tag in page.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        {% if site.data.tags[tag_name] %}
          <a href="/tag/{{ tag_name | slugify }}">
            <code class="highligher-rouge"><nobr>{{ site.data.tags[tag_name] }}</nobr></code>&nbsp;
          </a>
        {% endif %}
      {% endfor %}
    ]
  </div>

  <div>
    Автор:
    {% for tag in page.tags %}
      {% capture tag_name %}{{ tag }}{% endcapture %}
      {% if site.data.author[tag_name] %}
        <a href="/author/{{ tag_name | slugify }}"><nobr>{{ site.data.author[tag_name].name }}</nobr>&nbsp;</a>
      {% endif %}
    {% endfor %}
  </div>

  {% include disqus.html %}
</article>
